{% extends "layout.html" %}
{% block content %}
{% for category, message in get_flashed_messages(with_categories = true) %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}

<form action="{{ request.path }}" method="post">
    <label for="name">Name</label><br>
    <input type="text" id="name" name="name" placeholder="Name"><br>
    <label for="title">Title</label><br>
    <input type="text" id="title" name="title" placeholder="Title"><br>
    <label for="content">Tell us a fun animal fact!</label><br>
    <textarea id="content" name="content" placeholder="Your animal fact goes here..."></textarea>
    <input type="submit" value="Submit">
</form>
{% endfor %}

{% endblock content %}